.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 3em;
    margin: 0;
    background-color: rgb(242, 248, 155);
    height: 3em;
    align-items: center;
}
.logo{
    font-size: larger;
    font-weight: bold;
}
.logo>button{
    border: none;
    cursor: pointer;
    background: inherit;
    color: rgb(241, 105, 7);
    font-size: larger;
    font-weight: bold;
}
.options>a{
     text-decoration: none;
     margin: 0px 1em;
     color: rgb(6, 6, 78);
     font-size: 1.2em;
}
#icon1,#icon2{
    position: relative;
    top: 5px;
}